<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.flutter_braintree">

    <application>
        <activity android:name=".FlutterBraintreeCustom"
            android:theme="@style/bt_transparent_activity">
        </activity>

        <activity android:name="com.braintreepayments.api.ThreeDSecureActivity" android:theme="@style/Theme.AppCompat.Light">
        </activity>
    </application>

</manifest>